name: Social Readme

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  update-social:
    runs-on: ubuntu-latest
    steps:
      - uses: imzusheng/social-readme@master
        with:
          # blog_rss_link: your blog rss link
          douban_name: 190407051